{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}
    <h1>Modification de la vente</h1>

    {{ include('vente/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('vente_index') }}">Retour à la liste</a>

    {{ include('vente/_delete_form.html.twig') }}
{% endblock %}
